* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
       
    background-image: linear-gradient(120deg, #ce9aff 0%, #65b5f6 100%);
    width: x;
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    grid-template-areas: "header header header header header"
        "main main main maim aside"
        "main main main maim aside"
        "footer footer footer footer footer";
        
}

header {

    display: grid;
    grid-area: header;
    grid-template-areas: "logo navbar navbar navbar login";
    background-color: whitesmoke;
    text-align: center;
}


#logo {
    grid-area: logo;
    background-color: #ce9aff;
}

#navbar {
    grid-area: navbar;
    background-color: whitesmoke;
    color: gold;
    background:burlywood;
    border: 2px solid black;
}

#login {
    grid-area: login;
    
}

main {
    display: grid;
    grid-area: main;
    grid-template-areas: "mainhead mainhead mainhead" "mainarticle section article";

}

#mainhead {
    grid-area: mainhead;
    display: grid;
    background-color: bisque;
    grid-template-areas: "mainarticle mainarticle mainarticle";

    
}

#mainarticle {
    display: grid;
    grid-area: mainarticle;
    grid-template-areas: "section article article";
    
}

#section {
    background-color: blanchedalmond;
    
}
#section .p {
font-weight: bold;
color: blue;
}
#article {
    background-color: blanchedalmond;
}

#aside {
    grid-area: aside;
    background-color: rgb(184, 135, 222);
    
    
}

footer {
    grid-area: footer;
background-color: #755395;
text-align: center;

}

/*******login*******/

.container{
    grid-area: wrapperContent;
}
#div {
    grid-area: wrapperContent;
    }

.wrapperContent{
    grid-template-areas:"wrapperContent wrapperContent wrapperContent";    

}
.login-page-content{ 
    display: grid;
    grid-template-areas:"mainhead mainhead mainhead" 
    "form form form ";
}
.mainhead {
   grid-area: mainhead;
    
}
.form {
    grid-area: form;
}
.input[type=text]{
    height:25px;
    width:auto;
}

.content{
    min-height: calc(100vh-80px);
} 
.footer  {
    grid-area: footer;    
}
